#home {
  background: url(sample_2.html) 50% 0 repeat fixed; min-height: 1000px;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
}

#home article {
  color: #09cde2;
  height: 458px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
}

#about {
  background-color: #252d2d;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#about article {
　color: #ffffff;
  height: 458px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
}
