* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #c8465a;
}

#social-container {
  width: 410px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-top: 25vh;
}

.social-button {
  color: white;
  display: inline-block;
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  min-width: 38px;
  width: 38px;
  height: 38px;
  position: relative;
  line-height: 28px;
  overflow: hidden;
  white-space: nowrap;
  transition: width 300ms ease;
  -webkit-transition: width 300ms ease;
}
.social-button i {
  vertical-align: middle;
  position: relative;
  width: 28px;
  height: 28px;
  line-height: 28px;
}
.social-button span {
  display: inline-block;
  font-family: Geneva, Helvetica, sans-serif;
  font-size: 16px;
  vertical-align: middle;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  transition: width 300ms ease;
}
/* .social-button.fb {
  background: #3b5998;
}
.social-button.yt {
  background: #b00;
} */
.social-button.tw {
  background: #55acee;
}
/* .social-button.sc {
  background: #f50;
}
.social-button.ig {
  background: #125688;
}
.social-button.cp {
  background: #000;
}
.social-button.gh {
  background: #000;
} */
