body            { font-family: sans-serif; background: #eee; background-color:#ffffff}
a, h1,          { color: #377ba8; }
h1, h2          { font-family: sans-serif; serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { color: #000000; }
/* body            {background-color: #CCCCCC} */
.example-title  { padding: .5em .75em; text-align: center; margin: 20px 0}
.example-title>span {background: #9999FF;  text-align: center; padding:20px}
.video          {text-align: center;}
.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.error          { background: #f0d6d6; padding: 0.5em; }
.section_inner_2 {
    width: 100%;
    height: 100%;
    position: relative;
}

.center_content {
    position: absolute;
    margin: 350px 0;
    top: 100%;
    left: 25%;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #c8465a;
}

/* twitter shareボタン  */
#social-container {
    width: 800px;
    background: rgba(255, 255, 255, 0);
    padding: 0px;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 0vh;
}

.social-button {
  color: white;
  display: inline-block;
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  min-width: 38px;
  width: 38px;
  height: 38px;
  position: relative;
  line-height: 28px;
  overflow: hidden;
  white-space: nowrap;
  transition: width 300ms ease;
  -webkit-transition: width 300ms ease;
}
.social-button i {
  vertical-align: middle;
  position: relative;
  width: 28px;
  height: 28px;
  line-height: 28px;
}
.social-button span {
  display: inline-block;
  font-family: Geneva, Helvetica, sans-serif;
  font-size: 16px;
  vertical-align: middle;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  transition: width 300ms ease;
}

.social-button.tw {
  background: #55acee;
}
