<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <!-- BootstrapのCSS読み込み -->
        <!-- <link href="../static/css/bootstrap.min.css" rel="stylesheet"> -->
        <!-- CDN これを読み込むことでダウンロードしなくてもBootstrapが使える-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- jQuery読み込み -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- BootstrapのJS読み込み -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

        <!-- Twitterのシェアボタン -->
        <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css">
        <script>
            function socialHover(e) {
                console.log(e.type);
                var social = document.getElementById('social-container');
                var spanArray = social.getElementsByTagName('span');
                var spanWidths = [];

                for (var i = 0; i < spanArray.length; i++) {
                    spanWidths.push(spanArray[i].clientWidth);
                }

                var socialId = e.target.dataset.socialId;
                if (e.type == 'mouseenter') {
                    e.target.style.width = (spanWidths[socialId] + 50) + 'px';
                } else {
                    e.target.style.width = '38px';
                }
            }

                window.onload = function() {

                var socialButtons = document.getElementsByClassName('social-button');
                for (var i = 0; i < socialButtons.length; i++) {
                    socialButtons[i].setAttribute('data-social-id', i);
                    socialButtons[i].addEventListener('mouseenter', function() { socialHover(event); });
                    socialButtons[i].addEventListener('mouseleave', function() { socialHover(event); });
                }
                }
            </script>

    </head>
    <body class="bg-info">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <!-- <a class="navbar-brand" href="#">Md</a> -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{{ url_for('search_artist') }}">Home <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="{{ url_for('show_tweet') }}">Tweet Search</a>
            </div>
          </div>

          <!--Twitter　SHAREボタン-->
          <div id="social-container">
              <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" text="#Md" data-url="http://127.0.0.1:5000/"><div class="social-button tw">
              <i class="fa fa-twitter fa-lg"></i><span>SHARE</span>
              </div></a>
          </div>

          <!-- 検索フォーム -->
          <form class="form-inline" action="{{ url_for('artists') }}" method=get>
            <input name="keyword" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button  class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
          </form>
        </nav>
        {% block body %}{% endblock %}
    </body>
    </html>
