<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <title></title>
        <!-- BootstrapのCSS読み込み -->
        <!-- <link href="../static/css/bootstrap.min.css" rel="stylesheet"> -->
        <!-- CDN これを読み込むことでダウンロードしなくてもBootstrapが使える-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- jQuery読み込み -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- BootstrapのJS読み込み -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    </head>
    <body>
        <nav class="navbar navbar-light bg-light justify-content-between">
          <a class="navbar-brand">Navbar</a>
          <form class="form-inline" action="{{ url_for('artists') }}" method=get>
            <input name="keyword" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button  class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
          </form>
        </nav>
        {% block body %}{% endblock %}
    </body>
    </html>
