{% extends "layout.html" %}
{% block body %}
  <div class="row justify-content-center">
  <table class="table table-striped col-8" >
    <thead class="table-info" >
      <tr> <!--行を表す-->
        <th style="width: 35px" scope="col"></th>
        <th style="width: 300px" scope="col">Artistname</th>
      </tr>
    </thead>
    <tbody>
      {% for artist in artists %}
        <tr class="bg-white">
          <th></th>
          <td><a href=/show_artist/{{artist.id}}>{{artist.name}}</a></td>
        </tr>
      {% endfor %}
  </table>
</div>
{% endblock %}
