{% extends "layout.html" %}
{% block body %}
<div class="row justify-content-center">
<table class="table table-striped col-8">
  <thead class="table-info">
    <tr><!--行を表す-->
      <th scope="col">Published_at</th>
      <th scope="col">Album_name</th>
      <th scope="col">Song_title</th>
    </tr>
  </thead>
  <tbody>
    {% for album in albums %}
      <tr class="bg-white">
        <th>{{album.published_at}}</th>
        <td>{{album.title}}</td>
        <!-- tdでセルを追加 -->
        <td>
        {% for song in album.songs %}
          <p><a href=/show_video/{{song.id}}>{{song.title}}</p>
        {% endfor %}
        </td>
      </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
