{% extends "layout.html" %}
{% block body %}

<div class="section_inner_2">
    <form action="{{ url_for('search_tweet') }}" method=get >
        <div class="input-group col-md-6 center_content">
            <input type="text" name="keyword" class="form-control form-control-lg" placeholder="Tweet Search" aria-label="Tweet" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-dark" type="submit">SEARCH</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
